html {
    font-size: 62, 5%;
}

body {
    display: grid;
    grid-template-rows: 160px auto 60px;
    grid-template-areas:"header header"
                        "painel text"
                        "footer footer";
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    max-width: var(--max-width-size) center center;
    font-family: 'Open Sans', sans-serif;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.header img {
    height: 4rem;
    width: 12rem;
}

.painel {
    grid-area: painel;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.painel .image {
    width: 100%;
    margin: 1.8rem;
    padding: 0;
}

.text {
    flex-wrap: wrap;
    grid-area: text;
    color: #fff;
    padding: 0 30px;
    width: 100%;
}

.text .title .main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2.2rem;
    margin: 3rem 3rem;
}

.text .title .paragraph {
    margin: 1.5rem 3rem;
    font-size: 1.2rem;
}

.text .bottom a {
    font-weight: 400;
    margin: 1.5rem 3rem;
    background-color: #fff;
    font-size: 1rem;
    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    transition: 0.3s ease-in-out;
}

.text .bottom:hover a {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    -webkit-transform: translateY(-1.5px);
    -ms-transform: translateY(-1.5px);
    transform: translateY(-1.5px);
    box-shadow: 1.5px 1.5px 1.5px 1px rgba(98, 98, 98, 0.69);
}

.footer {
    grid-area: footer;
}

.footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 40px;
    border: solid 1px #fff;
    transition: 0.3s ease-in-out;

}

.footer ul li a:hover {
    color: hsl(300, 69%, 71%);
    border: solid 1px hsl(300, 69%, 71%);
}